

<div class="container-fluid">
  <div class="title"><h1 class='text-center mt-4'><%= @trip.name %></h1></div>
  <div class="row">
    <!-- <div class="col-xs-12 col-lg-2">
      <div class="tasks row justify-content-center">

      </div>
    </div> -->
    <div class="col-xs-12 col-lg-7">
      <div class="row justify-content-center tasks">
        <div class="col-12 col-lg-10 task-cards-col">
          <div class="tasks-col">
            <% @trip.tasks.each do |task| %>

            <%= render "tasks/task", task: task, subtask: @subtask %>

            <% end %>
          </div>


          <div class="new-task-btn active">
            <%= link_to new_trip_task_path(@trip, ajax: true), id: 'new-task-btn', class: 'btn btn-light mb-5', remote: :true, method: :get do %>
            <div class="d-flex align-items-center text-center"><i class="fas fa-plus py-auto"></i><h2 class='btn-lbl pl-2'>Add Task</h2></div>
            <% end %>
          </div>
          <div class="new-task-form">
            <%= render 'tasks/form', trip: @trip, task: Task.new %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-lg-5 map-col">
      <div
      id="map" class="tasks-map"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      ></div>
      <div class="tasks-overview mt-3 p-3">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum quaerat minus suscipit eveniet, numquam ab nisi, quos ea ut, quae necessitatibus aliquid, nulla sequi autem non ducimus. Ipsam, soluta sequi!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum quaerat minus suscipit eveniet, numquam ab nisi, quos ea ut, quae necessitatibus aliquid, nulla sequi autem non ducimus. Ipsam, soluta sequi!</p>
      </div>
    </div>
  </div>
</div>
