<!-- <div
id="map"
style="width: 100%;
height: 300px;"
data-markers="<%= @markers.to_json %>"
data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div> -->

<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-12 col-lg-8">
      <% @trip.tasks.each do |task| %>
      <div class="task-container">

        <div class="task-card">
          <div class='task-header d-flex'>
            <div class='check'>
              <i class='far fa-<%= task.status == true ? 'check-' : '' %>square'></i>
            </div>
            <div class='info'>
              <h2><%= task.name %></h2>
              <p><%= task.description %></p>
            </div>
          </div>
          <div class="task-buttons">
            <%= link_to edit_task_path(task), class: 'btn' do %>
            <i class="far fa-edit"></i>
            <% end %>
            <%= link_to task_path(task), class: 'btn', method: :delete, data: { confirm: "Are you sure?" } do %>
            <i class="far fa-trash-alt"></i>
            <% end %>
          </div>
        </div>

        <div class="subtasks">
          <% task.subtasks.each do |subtask| %>

          <div class="subtask-card">
            <div class='subtask-header d-flex'>
              <div class='check'>
                <i class='far fa-<%= subtask.status == true ? 'check-' : '' %>square'></i>
              </div>
              <div class='info'>
                <h2><%= subtask.name %></h2>
                <p><%= subtask.description %></p>
              </div>
            </div>
            <div class="subtask-buttons">
              <%= link_to edit_subtask_path(subtask), class: 'btn' do %>
              <i class="far fa-edit"></i>
              <% end %>
              <%= link_to subtask_path(subtask), class: 'btn', method: :delete, data: { confirm: "Are you sure?" } do %>
              <i class="far fa-trash-alt"></i>
              <% end %>
            </div>
          </div>

          <% end %>
          <%= link_to new_task_subtask_path(task), class: 'btn' do %>
          <div class="d-flex align-items-center text-center"><i class="fas fa-plus py-auto"></i><h2 class='btn-lbl pl-2'>Add Subtask</h2></div>
          <% end %>
        </div>

      </div>
      <% end %>
      <%= link_to new_trip_task_path(@trip), id: 'new-task-btn', class: 'btn btn-light' do %>
      <div class="d-flex align-items-center text-center"><i class="fas fa-plus py-auto"></i><h2 class='btn-lbl pl-2'>Add Task</h2></div>
      <% end %>
    </div>
  </div>
</div>
<!--   -->

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<script>
  const tasks = document.querySelectorAll('.task-container');

  if (tasks) {
    tasks.forEach((task) => {
      task.addEventListener('click', () => {
        task.lastElementChild.classList.toggle("active");
      });
    });
}

    const checkboxes = document.querySelectorAll('.far');
  // if (tasks) {
    checkboxes.forEach((checkbox) => {
      checkbox.addEventListener('click', (event) => {
        event.stopPropagation()
        if (checkbox.classList.value == 'far fa-check-square') {
          checkbox.classList.remove('fa-check-square')
          checkbox.classList.add('fa-square')
        } else {
          checkbox.classList.remove('fa-square')
          checkbox.classList.add('fa-check-square')
        }
      });
    });
  </script>
