<div class="container mt-5">
  <div class="row justify-content-center mt-5">
    <div class="col-lg-12 col-sm-offset-3">
      <div class="chat-header"><h4>#<%= @chat_room.name %></h4></div>
      <div id="chatroom" class="messages" data-id="<%= @chat_room.id %>" data-user-id="<%= current_user.id %>">
        <% @chat_room.messages.each do |message| %>
          <%= render "messages/message", message: message, user_is_messages_author: message.user == current_user %>
        <% end %>
      </div>
      <div id="create-message">
        <%= simple_form_for [ @chat_room, Message.new ], remote: true, html: {autocomplete: "off" } do |f| %>
          <%= f.input :content, label: false %>
          <%= f.submit %>
        <% end %>
      </div>
    </div>
  </div>
  <%= link_to "Return to Trip", url_for(:back), class: 'btn btn-primary btn-block ' %>
</div>

