<div class="tasks-overview p-3 justify-content-around align-content-center">
  <div class="row">
    <div class="col-12 col-lg-12">
      <h2 class="overview-title text-center mb-1">Overview:</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-6">
      <div class="d-flex justify-content-between align-content-center"><p>Tasks</p><p><%= trip.number_of_tasks_completed %> / <%= trip.number_of_tasks %></p></div>
      <div class="progress" style="height: 20px; margin: 10px; border-radius: 8px; border: 1px solid black;">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="<%= trip.number_of_tasks.zero? ? 0 : trip.number_of_tasks_completed / trip.number_of_tasks %>" aria-valuemin="0" aria-valuemax="100" style="height: 20px; width: <%= trip.number_of_tasks_completed * 100   / trip.number_of_tasks %>%;"></div>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <div class="d-flex justify-content-between align-content-center"><p>SubTasks</p><p><%= trip.number_of_subtasks_completed %> / <%= trip.number_of_subtasks %></p></div>
      <div class="progress" style="height: 20px; margin: 10px; border-radius: 8px; border: 1px solid black;">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="<%= trip.completion %>" aria-valuemin="0" aria-valuemax="100" style="height: 20px; width: <%= trip.completion %>%;"></div>
      </div>
    </div>
  </div>
  <div class="overview-cards">

    <% if trip.precipitation > 1 %>
    <div class="info-card">
      <%= cl_image_tag "icon_rain", width: 512, height: 512, crop: :fit %>
      <p>Rainy</p>
    </div>
    <% elsif trip.precipitation > 0.5 %>
    <div class="info-card">
      <%= cl_image_tag "icon_cloudy", width: 512, height: 512, crop: :fit %>
      <p>Cloudy</p>
    </div>
    <% else %>
    <div class="info-card">
      <%= cl_image_tag "icon_sunny", width: 512, height: 512, crop: :fit %>
      <p>Sunny</p>
    </div>
    <% end %>

    <% if trip.max_temp > 30 %>
    <div class="info-card">
      <%= cl_image_tag "icon_hot", width: 512, height: 512, crop: :fit %>
      <p><%= trip.max_temp %> °C / <%= (trip.max_temp * 1.8 + 32).to_i %> °F</p>
    </div>
    <% end %>

    <% if trip.min_temp > 5 && trip.max_temp < 30 %>
    <div class="info-card">
      <%= cl_image_tag "icon_warm", width: 512, height: 512, crop: :fit %>
      <p><%= trip.max_temp %> °C / <%= (trip.max_temp * 1.8 + 32).to_i %> °F</p>
    </div>
    <% end %>

    <% if trip.min_temp <= 5 %>
    <div class="info-card">
      <%= cl_image_tag "icon_cold", width: 512, height: 512, crop: :fit %>
      <p><%= trip.min_temp %> °C / <%= (trip.min_temp * 1.8 + 32).to_i %> °F</p>
    </div>
    <% if trip.precipitation > 1 && trip.min_temp < 0 %>
    <div class="info-card">
      <%= cl_image_tag "icon_snow", width: 512, height: 512, crop: :fit %>
      <p>May Snow</p>
    </div>
    <% end %>
    <% end %>




  </div>
</div>
<div class="chat_room">
  <% if trip.chat_room_id.nil? %>
    <%= link_to "Chat with other Travellers who share your destination", trip_chat_rooms_path(trip), id: 'chat-btn', class: 'btn btn-primary mt-5 btn-block', method: :post %>
  <% else %>
    <%= link_to "Chat with other Travellers who share your destination", chat_room_path(trip.chat_room_id), id: 'chat-btn', class: 'btn btn-primary mt-5 btn-block ' %>
  <% end %>
</div>

