<div class="tasks-overview p-3 justify-content-around align-content-center">
  <div class="row">
    <div class="col-12 col-lg-12">
      <h2 class="overview-title text-center mb-1">Overview:</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-6">
      <div class="d-flex justify-content-between align-content-center"><p>Tasks</p><p><%= trip.number_of_tasks_completed %> / <%= trip.number_of_tasks %></p></div>
      <div class="progress" style="height: 20px; margin: 10px; border-radius: 8px; border: 1px solid black;">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="<%= trip.number_of_tasks_completed / trip.number_of_tasks  %>" aria-valuemin="0" aria-valuemax="100" style="height: 20px; width: <%= trip.number_of_tasks_completed * 100   / trip.number_of_tasks %>%;"></div>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <div class="d-flex justify-content- between align-content-center"><p>SubTasks</p><p><%= trip.number_of_subtasks_completed %> / <%= trip.number_of_subtasks %></p></div>
      <div class="progress" style="height: 20px; margin: 10px; border-radius: 8px; border: 1px solid black;">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="<%= trip.completion %>" aria-valuemin="0" aria-valuemax="100" style="height: 20px; width: <%= trip.completion %>%;"></div>
      </div>
    </div>
  </div>
  <div class="overview-cards">

    <% if trip.precipitation > 1 %>
    <div class="info-card">
      <%= cl_image_tag "icon_rain", width: 512, height: 512, crop: :fit %>
      <p>Rainy: <%= trip.precipitation %></p>
    </div>
    <% end %>

    <% if trip.max_temp > 30 %>
    <div class="info-card">
      <%= cl_image_tag "icon_hot", width: 512, height: 512, crop: :fit %>
      <p>Temp <%= trip.max_temp %></p>
    </div>
    <% end %>

    <% if trip.min_temp < 5 %>
    <div class="info-card">
      <%= cl_image_tag "icon_snow", width: 512, height: 512, crop: :fit %>
      <p>Min Temp: <%= trip.min_temp %></p>
    </div>
    <% end %>

    <% if trip.min_temp > 10 && trip.max_temp < 30 %>
    <div class="info-card">
      <%= cl_image_tag "icon_warm", width: 512, height: 512, crop: :fit %>
      <p>Max Temp: <%= trip.max_temp %></p>
    </div>
    <% end %>
    <div class="info-card">
      <%= cl_image_tag "icon_warm", width: 512, height: 512, crop: :fit %>
      <p>Max Temp: <%= trip.max_temp %></p>
    </div>

  </div>
</div>

