<div class="task-container" id="<%= "#{task.id}" %>">
  <div class="task-card">
    <div class="cat-icon">
      <%= cl_image_tag "icon_#{ task.category.nil? ? 'default' : task.category }", width: 512, height: 512, crop: :fit %>
    </div>
    <div class='task-header d-flex'>
      <div class='check' id="check-<%= "#{task.id}" %>">
        <i class='far fa-<%= task.status == true ? 'check-' : '' %>square' data-task-id = '<%= task.id %>'></i>
      </div>
      <div class='info'>
        <h2 class="mb-0 py-0"><%= task.name %></h2>
        <p class="mt-0 pt-0"><%= task.description %></p>
        <div class="progress-message" data-task-id = "<%= task.id %>">
          <%= render "tasks/progress_message", task: task %>
        </div>
      </div>
    </div>
    <div class="task-buttons">
      <%= link_to edit_task_path(task), class: 'btn' do %>
      <i class="far fa-edit"></i>
      <% end %>
      <%= link_to task_path(task), class: 'btn', method: :delete, remote: true, data: { confirm: "Are you sure?" } do %>
      <i class="far fa-trash-alt"></i>
      <% end %>
    </div>
  </div>
  <div class="subtasks">
    <%= render "subtasks/subtasks", task: task %>
  </div>

  <div class="task-down">
    <i class="first chevron fas fa-chevron-down"></i>
    <i class="second chevron fas fa-chevron-down"></i>
  </div>

</div>
