<div class="card-trip" style="position: relative">
  <%= cl_image_tag trip.photo_key, height: 300, width: 400, crop: :fill %>

  <div class="card-trip-infos">

    <div style="display: flex; justify-content: space-between; margin-bottom: 70px">
      <%= link_to trip_path(trip) do %>
        <h2><%= trip.name %></h2>
      <% end %>
      <%= link_to '<i class="fas fa-trash"></i>'.html_safe, trip_path(trip), method: :delete, data: {confirm: "Are you sure?"}, class:"mr-2", style:"margin-top: 12px" %>
    </div>


    <div style="position: absolute; bottom: 0px; width: 100%">
      <p class="">From <strong><%= trip.start_date&.to_formatted_s(:long) %></strong> To <strong><%= trip.end_date&.to_formatted_s(:long) %></strong></p>
      <p class="">Completion: <%= trip.completion %> %</p>
      <div class="progress" style="margin-top: 10px">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="<%= trip.completion %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= trip.completion %>%"></div>
      </div>
    </div>
  </div>

</div>
