<h2 style="color: white;">Why use Planit?</h2>

<div class="trip-overview">

  <div class="landing-value standare" style="margin: 0px">
    <%= image_tag "free", width: 100, crop: :fill %>
    <div style="padding: 8px;">
      <h4>100% free</h4>
      <p>No hidden costs, we make money from helpful adds, which are clearly marked as such.</p>
    </div>
  </div>

  <div class="landing-value standare" style="margin: 0px">
    <%= image_tag "privacy", width: 100, crop: :fill %>
    <div style="padding: 8px;">
      <h4>Privacy protected</h4>
      <p>We respect your privacy. No Google or Facebook tracking, 100% control over your data.</p>
    </div>
  </div>

  <div class="landing-value standare" style="margin: 0px">
    <%= image_tag "community", width: 100, crop: :fill %>
    <div style="padding: 8px;">
      <h4>Constantly improving</h4>
      <p>Planit is constantly improving taking into account the feedback of our users.</p>
    </div>
  </div>

</div>

<h2 style="margin-top: 100px; color: white;">How does Planit work?</h2>
<p style="color: white">Based on your input, Planit scans the web to get you the information perfect for your trip. We consider the following data:</p>

<div class="trip-overview" style="margin-bottom: 100px; ">

  <div class="landing-value" style="margin: 0px">
    <%= image_tag "user", width: 100, crop: :fill %>
    <div style="padding: 8px;">
      <h4>Your Input</h4>
      <p>Most imporatanty: Your input. How long you are going, for what purpose, etc.</p>
    </div>
  </div>

  <div class="landing-value" style="margin: 0px">
    <%= image_tag "weather", width: 100, crop: :fill %>
    <div style="padding: 8px;">
      <h4>Weather Data</h4>
      <p>Expected weather at your destination. For example to create the perfect packing list.</p>
    </div>
  </div>

  <div class="landing-value" style="margin: 0px">
    <%= image_tag "visa", width: 100, crop: :fill %>
    <div style="padding: 8px;">
      <h4>Visa Requirements</h4>
      <p>Based on your residency and travel time, we evaluate your visa requirements.</p>
    </div>
  </div>

  <div class="landing-value" style="margin: 0px">
    <%= image_tag "feedback", width: 100, crop: :fill %>
    <div style="padding: 8px;">
      <h4>Community Feedback</h4>
      <p>Tips from other travellers that have been to your destination before.</p>
    </div>
  </div>

  <div class="landing-value" style="margin: 0px">
    <%= image_tag "exchange", width: 100, crop: :fill %>
    <div style="padding: 8px;">
      <h4>Exchange Rates</h4>
      <p>Current exchange rate of your destination to give you an idea how to translate prices.</p>
    </div>
  </div>

  <div class="landing-value" style="margin: 0px">
    <%= image_tag "money", width: 100, crop: :fill %>
    <div style="padding: 8px;">
      <h4>Money Needs</h4>
      <p>Cost of living tables to evaluate how much money you should bring.</p>
    </div>
  </div>

  <div class="landing-value" style="margin: 0px">
    <%= image_tag "health", width: 100, crop: :fill %>
    <div style="padding: 8px;">
      <h4>Health Recommendations</h4>
      <p>Vaccination recoomendations and more to suggest how to best protect yourself.</p>
    </div>
  </div>

</div>
