<div class="container">

  <div style="height: 89vh; position: relative">

    <div style="position: absolute; top: 10%; right: 0">
      <h1 style="margin-top: 10%" id="slogan" class="d-flex justify-content-left p-0 text-white display-4"><br>Create the perfect travel checklist</h1>
      <%= render 'shared/green' %>
    </div>




    <div style="position: absolute; bottom: 5%; left: 0" class="mobile-hide">
      <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-interval="7500">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <%= image_tag "adventure", width: 500, height: 500, crop: :fill %>
          </div>
          <div class="carousel-item">
            <%= image_tag "community", width: 500, height: 500, crop: :fill %>
          </div>
          <div class="carousel-item">
            <%= image_tag "trip", width: 500, height: 500, crop: :fill %>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>

<div class="container">
  <%= render 'valueprop' %>
</div>
